.card__main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 6px 6px #999;
  cursor: pointer;
  margin: 20px;
}
.card__image {
  object-fit: contain;
  max-width: 300px;
  min-height: 380px;
}

.card__main:hover {
  transform: scale(1.1);
  border-radius: 10px;
  text-decoration: none;
}

.card__title {
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

.card__price {
  font-weight: 500;
  text-align: center;
  color: green;
}
.card__price:link {
  text-decoration: none;
}
.card__category {
  font-weight: 600;
  text-align: center;
  margin: 10px;
  color: rgb(78, 78, 78);
  text-decoration: none;
}
